<table class="table table-striped">
  <thead>
    <tr>
      <th>Issues</th>
      <th>Estimates</th>
      <th>Timespent</th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
      <%= erb :'issues/_list_item', locals: { issue: issue } %>
    <% end %>
  </tbody>
</table>
