<div class="row">
  <div class="col-md-6">
    <%= erb :'issues/_list', locals: { issues: @issues } %>
  </div>
  <div class="col-md-6">
    <%= erb :'issues/_statistics', locals: { statistics: @statistics } %>
  </div>
</div>
