<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Agilizer</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% navigation_items.each do |item| %>
      <% if request.path =~ %r{^/client/#{item[:link]}$} %>
        <li class="active"><a href="/client/<%= item[:link] %>"><%= item[:title] %> <span class="sr-only">(current)</span></a></li>
      <% else %>
        <li><a href="/client/<%= item[:link] %>"><%= item[:title] %></a></li>
      <% end %>
    <% end %>
  </ul>
  <!-- <form class="navbar-form navbar-right">
    <input type="text" class="form-control" placeholder="Search...">
  </form> -->
</div>
