<h4>Time estimate in sprint</h4>

<%
  rows = Agilizer::IssueAnalysis::Statistics.sum_sprint_data(
    @issues,
    @sprint_name,
    'developer',
    %w(sprint_start sprint_end),
    'time_estimate'
  )
  columns = {
    'developer' => { header: 'Developer', type: :string },
    'sprint_start' => { header: 'Start', type: :time },
    'sprint_end' => { header: 'End', type: :time }
  }
%>
<%= erb :'shared/_table', locals: { table: { rows: rows, columns: columns } } %>
