<h4>Timespent</h4>

<!-- timespent by developer in dev, review and other statuses -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Developer</th>
      <th>In Development</th>
      <th>In Review</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <% Agilizer::IssueAnalysis::Statistics.timespent_by_status_by_developer(issues, sprint_name).each do |team_member, timespents| %>
      <% if timespents.values.inject(0) { |s, v| s + v } > 0 %>
        <tr>
          <td><%= team_member %></td>
          <td><%= present(:Time, timespents['In Development']) %></td>
          <td><%= present(:Time, timespents['In Review']) %></td>
          <td><%= present(:Time, timespents['Other']) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
