<h4>Timespent</h4>

<% timespents = Agilizer::IssueAnalysis::Statistics.timespent(issues, sprint_name, %w(author status)) %>

<%
# TODO: move outside the view!
# TODO: regroup other statuses than 'In Development' and 'In Review'
result = timespents.each_with_object({}) do |timespent_entry, hash|
  author = timespent_entry['author']
  status = timespent_entry['status']
  hash[author] ||= { 'author' => author }
  result_status = status.in?(['In Development', 'In Review']) ? status : 'Other'
  hash[author][result_status] ||= 0
  hash[author][result_status] += timespent_entry['timespent'] || 0
end
%>

<%
columns = {
  'author' => { header: 'Author', type: :string },
  'In Development' => { header: 'In Dev', type: :time },
  'In Review' => { header: 'In Review', type: :time },
  'Other' => { header: 'Other', type: :time }
}
%>

<% table = { columns: columns, rows: result.values } %>
<%= erb :'shared/_table', locals: { table: table } %>
